[include]
    path = ~/.gitcredentials
[user]
	name = Dominik Pilipczuk
	email = 63516830+snickerdoodle2@users.noreply.github.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[alias]
    main-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
    fomo = !git fetch origin $(git main-branch) && git rebase origin/$(git main-branch) --autostash
